{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/accordion.css' %}">
<script src="{% static 'js/accordion.js' %}" defer></script>

<html>
<head>
	<title>Push Map Stats</title>
</head>
<body>
	<p>Push Map Stats</p>
	<div>
		{% for map_name, map_stats in pushMapStats.items %}
			<button class='accordion'>{{ map_name }}</button>
			<div class = 'panel'>
				<p>Total Wins: {{ map_stats.mount_wins }}/{{map_stats.total}} - {{map_stats.mount_winrate}}</p>
				<p>Top Mount Comp: {{ map_stats.top_mount_composition.tank}}, {{map_stats.top_mount_composition.dps.0}}, {{map_stats.top_mount_composition.dps.1}}, 
					{{map_stats.top_mount_composition.support.0}}, {{map_stats.top_mount_composition.support.1}} - 
					{{map_stats.top_mount_composition.wins}}/{{map_stats.top_mount_composition.total}}: {{map_stats.top_mount_composition.winrate}}</p>
				<p>Top Opponent Comp: {{ map_stats.top_opponent_composition.tank}}, {{map_stats.top_opponent_composition.dps.0}}, {{map_stats.top_opponent_composition.dps.1}}, 
					{{map_stats.top_opponent_composition.support.0}}, {{map_stats.top_opponent_composition.support.1}} - 
					{{map_stats.top_opponent_composition.wins}}/{{map_stats.top_opponent_composition.total}}: {{map_stats.top_opponent_composition.winrate}}</p>
			</div>
		{% endfor %}
	</div>
	<a href="/Overwatch/team/{{team.id}}">Back to {{team.name}}</a>
</body>
</html>

{% endblock %}