.heroes {
    display: flex;
    align-items: top; /* Aligns items to the top */
}

.mount_heroes, .opponent_heroes {
    flex: 1; /* Allows the divs to grow and fill the container */
    max-width: 10%; /* Sets a maximum width for each column */
    padding: 20px; /* Add some padding around the content */
}

/* Optional: Add some additional styling to make it look nicer */
.mount_heroes h4, .opponent_heroes h4 {
    margin-bottom: 10px; /* Space below headings */
}

.mount_heroes p, .opponent_heroes p {
    margin-bottom: 5px; /* Space below each paragraph */
}

.add-delete-buttons{
    padding-bottom: 10px;
}

