form .delete-button {
    background-color: #d9534f; 
    color: white; 
    padding: 4px 10px;
    font-size: 12px; 
    border: none; 
    border-radius: 0px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: 10px;

}

form .delete-button:hover {
    background-color: #c9302c; 
}

.add-button {
    background-color: #5cb85c; /* Green background color */
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
.add-button:hover {
    background-color: #4cae4c; /* Darker shade of green on hover */
  }
  
.add-delete-buttons{
    display: flex;
    padding-bottom: 10px;
  }

.teams {
    display: flex;
}

.player {
	display: flex; /* Enables Flexbox for each player */
	align-items: center; /* Aligns items vertically in the center */
	gap: 5px; /* Adds some space between the items */
	padding-bottom: 10px;
  }

.all-map-stats {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	align-items: top;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
  