<!DOCTYPE html>
<html>
<head>
    <title>Add Player to {{team.name}}</title>
</head>
<body>
    <h1>Add Player to {{team.name}}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="ow_team_id" value="{{team.id}}">
        <label for="id_first_name">First Name:</label>
        <input type="text" name="first_name" id="id_first_name" required>
        <br>
        <label for="id_last_name">Last Name</label>
        <input type="text" name="last_name" id="id_last_name" required>
        <br>
        <label for="id_role">Role</label>
        <select name="role" id="id_role">
            <option value="DPS">DPS</option>
            <option value="Tank">Tank</option>
            <option value="Support">Support</option>
            <option value="Flex">Flex</option>
        </select>
        <br>
        <button type="submit">Add Player</button>
    </form>
    <a href="/Overwatch/team/{{team.id}}">Back to {{team.name}}</a>
</body>
</html>
