<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add {{team.name}}'s Match</title>
</head>
<h1>Add {{team.name}}'s Match</h1>
<!--add way to add more match types-->
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="ow_team_id" value="{{team.id}}">
        <label for="id_match_type">Match Type:</label>
        <select name="match_type" id="id_match_type">
            {% for option in matchTypes %}
                <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_opponent">Opponent:</label>
        <input type="text" name="opponent" id="id_opponent" required>
        <br>
        <label for="id_mount_score">Mount Score:</label>
        <input type="number" name="mount_score" id="id_mount_score" required>
        <br>
        <label for="id_opponent_score">Opponent Score:</label>
        <input type="number" name="opponent_score" id="id_opponent_score" required>
        <br>
        <label for="id_mount_win">Mount Wins:</label>
        <input type="checkbox" name="mount_win" id="id_mount_win" value="1">
        <br>
        <button type="submit">Add Match</button>
    </form>
    <a href="/Overwatch/team/{{team.id}}">Back to {{team.name}}</a>
</body>