<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Map</title>
</head>
<h1>Delete Map</h1>
<form method = "POST">
    {% csrf_token %}
    <label for="id_map_type">Map Type</label>
    <select name="map_type" id="id_map_type">
        {% for mapType in mapTypes %}
        <option value="{{mapType}}">{{mapType}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="id_map_name">Map Name</label>
    <select name="map_name" id="id_map_name">
        {% for map in maps %}
        <option value="{{map}}">{{map}}</option>
        {% endfor %}
    </select> 
    <br>
    <button type="submit">Delete Map</button>
</form>
<a href="/Overwatch/rosters/">Back to Overwatch Teams</a>
</html>