<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Hero</title>
</head>
<h1>Delete Hero</h1>
{% if heroes%}
<form method = "POST">
    {% csrf_token %}
    <label for="id_map_name">Map Name</label>
    <select name="map_name" id="id_map_name">
        {% for option in heroes %}
        <option value="{{option}}">{{option}}</option>
        {% endfor %}
    </select> 
    <br>
    <button type="submit">Delete Hero</button>
</form>
{% else %}
    <p>There are no heroes to delete</p>
{% endif %}
<a href="/Overwatch/rosters/">Back to Overwatch Teams</a>
</html>