<!-- maps_and_players.html -->
{% for map in game.get_maps %}
    <div class="map">
        {% if game.map_type == "Control"%}
            <p>Map Name: {{ map.map_name }}</p>
            <p>Sub Map name: {{ map.map_sub_name }}</p>
        {% else %}
        <p>Map Name: {{ map.map_name }}</p>
        <p>Num of players: {{ map.players.count }}</p>
        {% endif %}
        <div class="players">
            {% for player in map.players %}
                <p> I got here </p>
                <p>Debug: Player - {{ player.roster_id.first_name }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
