{% load static %}
<link rel="stylesheet" href="{% static 'css/match_history_maps.css' %}">

<button class="accordion">Map: {{ map_info.map.map_name }} - {{ map_info.map.map_sub_name }}</button>
<div class="panel">
    <div class="control_map">
        <h4> Round {{ map_info.map.round }}</h4>
        <p>Mount Percent: {{map_info.map.mount_percent}}</p>
        <p>Opponent Percent: {{map_info.map.opponent_percent}}</p>
        <div class="heroes">
            <div class="mount_heroes">
                <h4>Mount Heroes</h4>
                    <p>Tank: {{ map_info.map.mount_tank }}</p>
                    <p>DPS: {{ map_info.map.mount_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.mount_dps_2 }}</p>
                    <p>Support: {{ map_info.map.mount_support_1 }}</p>
                    <p>Support: {{ map_info.map.mount_support_2 }}</p>
            </div>
            <div class="opponent_heroes">
                <h4>Opponent Heroes</h4>
                    <p>Tank: {{ map_info.map.opponent_tank }}</p>
                    <p>DPS: {{ map_info.map.opponent_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.opponent_dps_2 }}</p>
                    <p>Support: {{ map_info.map.opponent_support_1 }}</p>
                    <p>Support: {{ map_info.map.opponent_support_2 }}</p>
            </div>
        </div>
        <div class='add-delete-buttons'>
            <form method='GET' action="{% url 'add-single-player' game.map_type map_info.map.id %}">
                {% csrf_token %}
                <button class = 'add-button' type="submit">Add Player to Control Map</button>
            </form>
            <form method="POST" action="{% url 'delete-map' game.map_type map_info.map.id %}">
                {% csrf_token %}
                <button class= "delete-button" type="submit">Delete Map</button>
            </form>
        </div>
        {% include "team_templates/match_history_players.html" with map_info=map_info %}
    </div>
</div>