{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match History</title>
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
    <script src="{% static 'js/accordion.js' %}" defer></script>
</head>
<body>
    {% if Matches %}
        <button class="accordion">Match History</button>
        <div class="panel">
            {% for match in Matches %}
                <button class="accordion">Match against {{ match.opponent|capfirst }}</button>
                <div class="panel">
                    <div class="match">
                        <h3>Match Details</h3>
                            <p>
                                {% if "scrim" in match.match_type|lower %}
                                    {{match.match_type|capfirst}} 
                                {%else%}
                                    {{match.match_type}} game
                                {% endif %}
                                vs {{match.opponent|capfirst}} on {{match.match_date|date:"F d, Y"}}
                            </p>
                            <p> {{match.mount_score}} - {{match.opponent_score}} in favor of 
                                {% if match.mount_score > match.opponent_score %}
                                    Mount
                                {% else %}
                                    {{match.opponent|capfirst}}
                                {% endif %}
                            </p>
                        <form method="POST" action="{% url 'delete-match' match.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete Match</button>
                        </form>
                        <br>

                        {% for game in match.game_set.all %}
                            <button class="accordion">Game: {{ game.map_type }}</button>
                            <div class="panel">
                                <div class="game">
                                    <h4>Game Details</h4>
                                    <p>Map Type: {{ game.map_type }}</p>
                                    <p>Mount Score: {{ game.mount_score }}</p>
                                    <p>Opponent Score: {{ game.opponent_score }}</p>
                                    <form method="POST" action="{% url 'delete-game' game.id %}">
                                        {% csrf_token %}
                                        <button type="submit">Delete Game</button>
                                    </form>
                                    <br>

                                    <!-- Control map -->
                                    {% if game.map_type == "Control" %}
                                        {% for map_info in game.maps_with_players %}
                                            {% include "team_templates/match_history_control.html" with map_info=map_info%}
                                        {% endfor %}

                                    <!-- Flashpoint maps-->
                                    {% elif game.map_type == "Flashpoint" %}
                                        {% for map_info in game.maps_with_players %}
                                            {% include "team_templates/match_history_flashpoint.html" with map_info=map_info%}
                                        {% endfor %}

                                    <!--push map-->
                                    {% elif game.map_type == "Push" %}
                                        {% for map_info in game.maps_with_players %}
                                            {% include "team_templates/match_history_push.html" with map_info=map_info%}
                                        {% endfor %}

                                    <!--Escort Hybrid map-->
                                    {% else %}
                                        {% for map_info in game.maps_with_players %}
                                            {% include "team_templates/match_history_escort_hybrid.html" with map_info=map_info%}
                                        {% endfor %}
                                    {% endif %} 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Matches Found</p>
    {% endif %}
</body>
</html>
