{% load static %}
<link rel="stylesheet" href="{% static 'css/match_history_maps.css' %}">

<div class="escort_hybrid_map">
	<p> Map: {{ map_info.map.map_name }}</p>
    <div class="heroes">
        {% if map_info.map.attack_first%}
            <div class="heroes"> 
                <div class="mount_heroes">
                    <h4>Mount Attack Heroes</h4>
                        <p>Tank: {{ map_info.map.mount_attack_tank }}</p>
                        <p>DPS: {{ map_info.map.mount_attack_dps_1 }}</p>
                        <p>DPS: {{ map_info.map.mount_attack_dps_2 }}</p>
                        <p>Support: {{ map_info.map.mount_attack_support_1 }}</p>
                        <p>Support: {{ map_info.map.mount_attack_support_2 }}</p>
                </div>
                <div class="opponent_heroes">
                    <h4>Opponent Defense Heroes</h4>
                        <p>Tank: {{ map_info.map.opponent_defense_tank }}</p>
                        <p>DPS: {{ map_info.map.opponent_defense_dps_1 }}</p>
                        <p>DPS: {{ map_info.map.opponent_defense_dps_2 }}</p>
                        <p>Support: {{ map_info.map.opponent_defense_support_1 }}</p>
                        <p>Support: {{ map_info.map.opponent_defense_support_2 }}</p>
                </div>
            </div>
            <div class="heroes">
                <div class="opponent_heroes">
                    <h4>Opponent Attack Heroes</h4>
                        <p>Tank: {{ map_info.map.opponent_attack_tank }}</p>
                        <p>DPS: {{ map_info.map.opponent_attack_dps_1 }}</p>
                        <p>DPS: {{ map_info.map.opponent_attack_dps_2 }}</p>
                        <p>Support: {{ map_info.map.opponent_attack_support_1 }}</p>
                        <p>Support: {{ map_info.map.opponent_attack_support_2 }}</p>
                </div>
                <div class="mount_heroes">
                    <h4>Mount Defense Heroes</h4>
                        <p>Tank: {{ map_info.map.mount_defense_tank }}</p>
                        <p>DPS: {{ map_info.map.mount_defense_dps_1 }}</p>
                        <p>DPS: {{ map_info.map.mount_defense_dps_2 }}</p>
                        <p>Support: {{ map_info.map.mount_defense_support_1 }}</p>
                        <p>Support: {{ map_info.map.mount_defense_support_2 }}</p>
                </div>
            </div>
        {% else %}
        <div class = "heroes">
            <div class="opponent_heroes">
                <h4>Opponent Attack Heroes</h4>
                    <p>Tank: {{ map_info.map.opponent_attack_tank }}</p>
                    <p>DPS: {{ map_info.map.opponent_attack_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.opponent_attack_dps_2 }}</p>
                    <p>Support: {{ map_info.map.opponent_attack_support_1 }}</p>
                    <p>Support: {{ map_info.map.opponent_attack_support_2 }}</p>
            </div>
            <div class="mount_heroes">
                <h4>Mount Defense Heroes</h4>
                    <p>Tank: {{ map_info.map.mount_defense_tank }}</p>
                    <p>DPS: {{ map_info.map.mount_defense_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.mount_defense_dps_2 }}</p>
                    <p>Support: {{ map_info.map.mount_defense_support_1 }}</p>
                    <p>Support: {{ map_info.map.mount_defense_support_2 }}</p>
            </div>
        </div>
        <div class = "heroes">
            <div class="mount_heroes">
                <h4>Mount Attack Heroes</h4>
                    <p>Tank: {{ map_info.map.mount_attack_tank }}</p>
                    <p>DPS: {{ map_info.map.mount_attack_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.mount_attack_dps_2 }}</p>
                    <p>Support: {{ map_info.map.mount_attack_support_1 }}</p>
                    <p>Support: {{ map_info.map.mount_attack_support_2 }}</p>
            </div>
            <div class="opponent_heroes">
                <h4>Opponent Defense Heroes</h4>
                    <p>Tank: {{ map_info.map.opponent_defense_tank }}</p>
                    <p>DPS: {{ map_info.map.opponent_defense_dps_1 }}</p>
                    <p>DPS: {{ map_info.map.opponent_defense_dps_2 }}</p>
                    <p>Support: {{ map_info.map.opponent_defense_support_1 }}</p>
                    <p>Support: {{ map_info.map.opponent_defense_support_2 }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    
</div>