<button class="accordion">Players</button>
<div class="panel">
    {% for player in map_info.players %}
        <button class="accordion">Player: {{ player.roster_id.first_name }} {{ player.roster_id.last_name }}
            {%if game.map_type == 'Escort' or game.map_type == 'Hybrid' %} 
                {% if player.is_defense == 1 %}
                    - Defence
                {% else %}
                    - Attack
                {% endif %}
            {% endif %} 
        </button>
        <div class='panel'>
            <div class="player">
                <p>Role: {{ player.role }}</p>
                <p>Hero: {{ player.hero }}</p>
                {% if player.kills %}
                    <p>Kills: {{ player.kills }}</p>
                {% endif %}
                {% if player.deaths %}
                    <p>Deaths: {{ player.deaths }}</p>
                {% endif %}
                {% if player.assists %}
                    <p>Assists: {{ player.assists }}</p>
                {% endif %}
                {% if player.damage %}
                    <p>Damage: {{ player.damage }}</p>
                {% endif %}
                {% if player.healing %}
                    <p>Healing: {{ player.healing }}</p>
                {% endif %}
                {% comment %} {% for hero in Hero_Pictures %}
                    {% if hero.hero_name == player.hero %}
                        <img src="{{ hero.hero_image.url }}" alt="{{ hero.hero_name }}" id="hero_image">
                    {% endif %}
                {% endfor %} {% endcomment %}
                <div class = 'add-delete-buttons'>
                    <form method="POST" action="{% url 'delete-player' player.id %}">
                        {% csrf_token %}
                        <button class='delete-button' type="submit">Delete Player</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>