{% load static %}
<link rel="stylesheet" href="{% static 'css/match_history_maps.css' %}">

<div class="push_map">
    <p>Mount Distance: {{ map_info.map.mount_distance }}</p>
    <p>Opponent Distance: {{ map_info.map.opponent_distance }}</p>
    <div class="heroes">
        <div class="mount_heroes">
            <h4>Mount Heroes</h4>
                <p>Tank: {{ map_info.map.mount_tank }}</p>
                <p>DPS: {{ map_info.map.mount_dps_1 }}</p>
                <p>DPS: {{ map_info.map.mount_dps_2 }}</p>
                <p>Support: {{ map_info.map.mount_support_1 }}</p>
                <p>Support: {{ map_info.map.mount_support_2 }}</p>
        </div>
        <div class="opponent_heroes">
            <h4>Opponent Heroes</h4>
                <p>Tank: {{ map_info.map.opponent_tank }}</p>
                <p>DPS: {{ map_info.map.opponent_dps_1 }}</p>
                <p>DPS: {{ map_info.map.opponent_dps_2 }}</p>
                <p>Support: {{ map_info.map.opponent_support_1 }}</p>
                <p>Support: {{ map_info.map.opponent_support_2 }}</p>
        </div>
    </div>
    <div class='add-delete-buttons'>
        <form method='POST' action="{% url 'add-push' game.id %}">
            {% csrf_token %}
            <button class = 'add-button' type="submit">Add Push Map</button>
        </form>
        <form method="POST" action="{% url 'delete-game' game.id %}">
            {% csrf_token %}
            <button class = 'delete-button' type="submit">Delete Game</button>
        </form>
        <form method="POST" action="{% url 'delete-map' game.map_type map_info.map.id %}">
            {% csrf_token %}
            <button class = 'delete-button' type="submit">Delete Push Map</button>
        </form>
    </div>
    {% include "team_templates/match_history_players.html" with map_info=map_info%}
</div>