{% extends "header.html" %}
{% block content %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/rosters.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Overwatch 2 Rosters</title>
</head>
	<body>
		<h1>Overwatch 2 Rosters</h1>
		<div class="add-delete-buttons">
			<form method="GET" action="{% url 'create-team' %}">
				{% csrf_token %}
				<button type="submit" class='add-button'>Create Team</button>
			</form>
		</div>
		<div class="add-delete-buttons">
			<form method="GET" action="{% url 'add-hero' %}">
				{% csrf_token %}
				<button type="submit" class='add-button'>Add Hero</button>
			</form>
			<form method="GET" action="{% url 'delete-hero' %}">
				{% csrf_token %}
				<button type="submit" class='delete-button'>Delete Hero</button>
			</form>
		</div>
		<div class="add-delete-buttons">
			<form method="GET" action="{% url 'add-map' %}">
				{% csrf_token %}
				<button type="submit" class='add-button'>Add Map</button>
			</form>
			<form method="GET" action="{% url 'delete-map-name' %}">
				{% csrf_token %}
				<button type="submit" class='delete-button'>Delete Map</button>
			</form>
		</div>
		<div class="add-delete-buttons">
			<form method="GET" action="{% url 'add-match-type' %}">
				{% csrf_token %}
				<button type="submit" class='add-button'>Add Match Type</button>
			</form>
			<form method="GET" action="{% url 'delete-match-type' %}">
				{% csrf_token %}
				<button type="submit" class='delete-button'>Delete Match Type</button>
			</form>
		</div>
		<ul>
			{% for team in OW_Teams %}
			<li>
				<div class='teams'>
					<form method='GET' action="{% url 'team-roster' team.id %}">
						{% csrf_token %}
						<button type="submit">{{team.name}}</button>
					</form>
					<form method="POST" action="{% url 'delete-team' team.id %}">
						{% csrf_token %}
						<button type="submit" class='delete-button'>Delete Team</button>
					</form>
				</div>
			</li>
			{%endfor%}
		</ul>
	</body>
</html>
{% endblock %}