<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rosters.css' %}">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Overwatch 2 {{OW_Team.name}}</title>
</head>
	<body>
		<h1>{{OW_Team.name}}</h1>
		<div class='add-delete-buttons'>
			<form method="GET" action="{% url 'add-roster-player' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Add Player</button>
			</form>
			<form method="GET" action="{% url 'add-match' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Add Match</button>
			</form>
			<form method="GET" action="{% url 'active-player' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Activate Player</button>
			</form>
		</div>
			{%if Roster %}
			<h4>Roster</h4>
				<ul>
				{% for player in Roster %}
					<li>
						<div style="display: flex; align-items: center;">
							<span>{{ player.first_name }} {{ player.last_name }}:</span>
							<span style="margin-right: 10px;">{{ player.role }}</span>
							<form method="POST" action="{% url 'delete-roster-player' player.id %}">
								{% csrf_token %}
								<button class = 'delete-button' type="submit">Delete Player</button>
							</form>
						</div>
					</li>
				{% endfor %}
				</ul>
			{%else%}
				<p>No Players on Roster</p>
			{%endif%}
			{% include "team_templates/match_history.html" with Matches=Matches %}
		<a href="/Overwatch/rosters/">Back to Overwatch Teams</a>
	</body>
</html>