{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rosters.css' %}">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Overwatch 2 {{OW_Team.name}}</title>
</head>
	<body>
		<h1>{{OW_Team.name}}</h1>
		<div class='add-delete-buttons'>
			<form method="GET" action="{% url 'add-roster-player' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Add Player</button>
			</form>
			<form method="GET" action="{% url 'add-match' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Add Match</button>
			</form>
			<form method="GET" action="{% url 'active-player' OW_Team.id %}">
				{% csrf_token %}
				<button class='add-button' type="submit">Activate Player</button>
			</form>
		</div>
			{%if Roster %}
				<h4>Roster</h4>
				<div class='roster'>
					{% for player in Roster %}
							<div class='player'>
								<p>{{ player.first_name }} {{ player.last_name }}</p>
								<span>: {{ player.role }}</span>
								<form method="POST" action="{% url 'delete-roster-player' player.id %}">
									{% csrf_token %}
									<button class = 'delete-button' type="submit">Deactivate Player</button>
								</form>
							</div>
				</div>
					{% endfor %}
			{%else%}
				<p>No Players on Roster</p>
			{%endif%}
			{% if Map_Stats.items %}
				<div class='all-map-stats'>
					{% for map_type, stats in Map_Stats.items %}
						<div class='map-stats'>
							<!-- Map Type Stats -->
							<h2>{{ map_type }}</h2>
							{% if stats.image_url %}
								<a href="
									{% if map_type == 'Control' %}
										{% url 'control-stats' OW_Team.id %}
									{% elif map_type == 'Clash' %}
										{% url 'clash-stats' OW_Team.id %}
									{% elif map_type == 'Push' %}
										{% url 'push-stats' OW_Team.id %}
									{% elif map_type == 'Flashpoint' %}
										{% url 'flashpoint-stats' OW_Team.id %}
									{% elif map_type == "Escort" %}
										{% url 'escort-hybrid-stats' OW_Team.id "Escort"%}
									{% elif map_type == "Hybrid" %}
										{% url 'escort-hybrid-stats' OW_Team.id "Hybrid"%}
									{% endif %}
								">
									<img src="{{ stats.image_url }}" alt="{{ map_type }}">
								</a>							
							{% endif %}
							<p>Wins: {{ stats.wins }}/{{stats.total}}</p>
							<p>Win Rate: {{ stats.winrate }}%</p>

							<div class="top-comps">
								{% for comp_map_type, comp_info in Comps.items %}
									{% with map_type_attack=map_type|add:" (Attack)" map_type_defense=map_type|add:" (Defense)" %}
										{% if "Escort" in comp_map_type or "Hybrid" in comp_map_type %}
											{% if comp_map_type == map_type_attack or comp_map_type == map_type_defense %}
												<h3>Top Comp for {{ comp_map_type }}</h3>
											{% if comp_info %}
												<p> {{ comp_info.tank }}, {% for dps in comp_info.dps %}{{ dps }}{% if not forloop.last %}, {% endif %}{% endfor %}, {% for support in comp_info.support %}{{ support }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
												<p>Wins: {{ comp_info.stats.wins }}/{{ comp_info.stats.total }} - {{ comp_info.stats.winrate }}%</p>
											{% endif %}
											{% endif %}
										{% else %}
											{% if comp_map_type == map_type %}
												<h3>Top Comp for {{ comp_map_type }}</h3>
												{% if comp_info %}
													<p> {{ comp_info.tank }}, {% for dps in comp_info.dps %}{{ dps }}{% if not forloop.last %}, {% endif %}{% endfor %}, {% for support in comp_info.support %}{{ support }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
													<p>Wins: {{ comp_info.stats.wins }}/{{ comp_info.stats.total }} - {{ comp_info.stats.winrate }}%</p>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endwith %}
								{% endfor %}

							</div>

							<div class="top-opponent-comps">
								{% for comp_map_type, comp_info in Opponent_Comps.items %}
									{% with map_type_attack=map_type|add:" (Attack)" map_type_defense=map_type|add:" (Defense)" %}
										{% if "Escort" in comp_map_type or "Hybrid" in comp_map_type %}
											{% if comp_map_type == map_type_attack or comp_map_type == map_type_defense %}
												<h3>Top Opponent Comp for {{ comp_map_type }}</h3>
											{% if comp_info %}
												<p> {{ comp_info.tank }}, {% for dps in comp_info.dps %}{{ dps }}{% if not forloop.last %}, {% endif %}{% endfor %}, {% for support in comp_info.support %}{{ support }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
												<p>Wins: {{ comp_info.stats.wins }}/{{ comp_info.stats.total }} - {{ comp_info.stats.winrate }}%</p>
											{% endif %}
											{% endif %}
										{% else %}
											{% if comp_map_type == map_type %}
												<h3>Top Opponent Comp for {{ comp_map_type }}</h3>
												{% if comp_info %}
													<p> {{ comp_info.tank }}, {% for dps in comp_info.dps %}{{ dps }}{% if not forloop.last %}, {% endif %}{% endfor %}, {% for support in comp_info.support %}{{ support }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
													<p>Wins: {{ comp_info.stats.wins }}/{{ comp_info.stats.total }} - {{ comp_info.stats.winrate }}%</p>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endwith %}
								{% endfor %}

							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>No Stats</p>
			{% endif %}


			{%if Matches %}
				{% include "team_templates/match_history.html" with Matches=Matches %}
			{%else%}
				<p>No Matches</p>
			{%endif%}
		<a href="/Overwatch/rosters/">Back to Overwatch Teams</a>
	</body>
</html>
{%endblock%}