<!DOCTYPE html>
{%load static%}
<link rel="stylesheet" href="{% static 'css/match_inputs.css' %}">
<script src="{% static 'js/control.js' %}"></script>

<script type="text/javascript">
    var subMapsData = {{ subMaps|safe }};
</script>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Control Map</title>
</head>
<body>
    <h1>Add Control Map</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{game.id}}">
        <label for="id_map_name">Map Name:</label>
        <select name="map_name" id="id_map_name">
            {% for map in maps %}
                <option value="{{ map.map_name }}">{{ map.map_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_map_sub_name">Map Sub Name:</label>
        <select name="map_sub_name" id="id_map_sub_name">

        </select>
        <br>
        <label for="id_round">Round:</label>
        <select name="round" id="id_round">
            <option value="1">Round 1</option>
            <option value="2">Round 2</option>
            <option value="3">Round 3</option>
        </select>
        <br>
        <div class='heroes'>
            <div class='column'>
                <label for="id_mount_tank">Mount Tank:</label>
                <select class ='select-heros'name="mount_tank" id="id_mount_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_dps_1">Mount DPS:</label>
                <select class ='select-heros' name="mount_dps_1" id="id_mount_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_dps_2">Mount DPS:</label>
                <select class ='select-heros' name="mount_dps_2" id="id_mount_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_support_1">Mount Support:</label>
                <select class ='select-heros' name="mount_support_1" id="id_mount_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_support_2">Mount Support:</label>
                <select class ='select-heros' name="mount_support_2" id="id_mount_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='column'>
                <label for="id_opponent_tank">Opponent Tank:</label>
                <select class ='select-heros' name="opponent_tank" id="id_opponent_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_dps_1">Opponent DPS:</label>
                <select class ='select-heros' name="opponent_dps_1" id="id_opponent_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_dps_2">Opponent DPS:</label>
                <select class ='select-heros' name="opponent_dps_2" id="id_opponent_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_support_1">Opponent Support:</label>
                <select class ='select-heros' name="opponent_support_1" id="id_opponent_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_support_2">Opponent Support:</label>
                <select class ='select-heros' name="opponent_support_2" id="id_opponent_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <label for="id_mount_percent">Mount Percent:</label>
        <input type="number" name="mount_percent" id="id_mount_percent" required>
        <br>
        <label for="id_opponent_percent">Opponent Percent:</label>
        <input type="number" name="opponent_percent" id="id_opponent_percent" required>
        <br>
        <br>
        <button type="submit">Add Players</button>
    </form>
</body>



</html>