<!DOCTYPE html>
{%load static%}
<link rel="stylesheet" href="{% static 'css/match_inputs.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Flashpoint</title>
</head>
<body>
    <h1> Add Flashpoint Map</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{game.id}}">
        <label for="id_map_name">Map Name:</label>
        <select name="map_name" id="id_map_name">
            {% for option in maps %}
                <option value="{{option.map_name}}">{{option.map_name}}</option>
            {% endfor %}
        </select>   
        <br>
        <label for="id_point_number">Point Number:</label>
        <select name="point_number" id="id_point_number">
            <option value="1">Point 1</option>
            <option value="2">Point 2</option>
            <option value="3">Point 3</option>
            <option value="4">Point 4</option>
            <option value="5">Point 5</option>
        </select>
        <br>
        <label for="id_mount_percent">Mount Percent:</label>
        <input type="number" name="mount_percent" id="id_mount_percent" required>
        <br>
        <label for="id_opponent_percent">Opponent Percent:</label>
        <input type="number" name="opponent_percent" id="id_opponent_percent" required>
        <br>
        <div class='heroes'>
            <div class='column'>
                <label for="id_mount_tank">Mount Tank:</label>
                <select class ='select-heros'name="mount_tank" id="id_mount_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_dps_1">Mount DPS:</label>
                <select class ='select-heros' name="mount_dps_1" id="id_mount_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_dps_2">Mount DPS:</label>
                <select class ='select-heros' name="mount_dps_2" id="id_mount_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_support_1">Mount Support:</label>
                <select class ='select-heros' name="mount_support_1" id="id_mount_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_support_2">Mount Support:</label>
                <select class ='select-heros' name="mount_support_2" id="id_mount_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='column'>
                <label for="opponent_tank">Opponent Tank:</label>
                <select class ='select-heros' name="opponent_tank" id="id_opponent_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_dps_1">Opponent DPS:</label>
                <select class ='select-heros' name="opponent_dps_1" id="id_opponent_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_dps_2">Opponent DPS:</label>
                <select class ='select-heros' name="opponent_dps_2" id="id_opponent_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_support_1">Opponent Support:</label>
                <select class ='select-heros' name="opponent_support_1" id="id_opponent_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_support_2">Opponent Support:</label>
                <select class ='select-heros' name="opponent_support_2" id="id_opponent_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit">Done</button>
    </form>
    <a href="/Overwatch/team/{{team.id}}">Back to {{team.name}}'s Page</a>
</body>
</html>