{%load static%}
<link rel="stylesheet" href="{% static 'css/match_inputs.css' %}">
<script src="{% static 'js/match_inputs.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add {%if is_Escort%} Escort {%else %} Hybrid {%endif%}</title>
</head>
<body>
    <h1> Add Add {%if is_Escort%} Escort {%else %} Hybrid {%endif%}</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{game.id}}">
        <input type="hidden" name="is_Escort" value="{{is_Escort}}">
        <label for="id_map_name">Map Name:</label>
        <select class='map-name' name="map_name" id="id_map_name">
            {% for option in maps %}
                <option value="{{option.map_name}}">{{option.map_name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_attack_first">Attack First:</label>
        <input type="checkbox" name="attack_first" id="id_attack_first">
        <br>
        <div class='heroes-escort-hybrid'>
            <div class='column'>
                <label for="id_mount_attack_tank">Mount Attack Tank:</label>
                <select class='select-heros' name="mount_attack_tank" id="id_mount_attack_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_attack_dps_1">Mount Attack DPS:</label>
                <select class='select-heros' name="mount_attack_dps_1" id="id_mount_attack_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_attack_dps_2">Mount Attack DPS:</label>
                <select class='select-heros' name="mount_attack_dps_2" id="id_mount_attack_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_attack_support_1">Mount Attack Support:</label>
                <select class='select-heros' name="mount_attack_support_1" id="id_mount_attack_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_attack_support_2">Mount Attack Support:</label>
                <select class='select-heros' name="mount_attack_support_2" id="id_mount_attack_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='column'>
                <label for="id_opponent_defense_tank">Opponent defense Tank</label>
                <select class='select-heros' name="opponent_defense_tank" id="id_opponent_defense_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_defense_dps_1">Opponent defense DPS:</label>
                <select class='select-heros' name="opponent_defense_dps_1" id="id_opponent_defense_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_defense_dps_2">Opponent defense DPS:</label>
                <select class='select-heros' name="opponent_defense_dps_2" id="id_opponent_defense_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_defense_support_1">Opponent defense Support:</label>
                <select class='select-heros' name="opponent_defense_support_1" id="id_opponent_defense_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_defense_support_2">Opponent defense Support:</label>
                <select class='select-heros' name="opponent_defense_support_2" id="id_opponent_defense_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class='heroes-escort-hybrid'>
            <div class='column'>
                <label for="id_mount_defense_tank">Mount Defense Tank:</label>
                <select class='select-heros' name="mount_defense_tank" id="id_mount_defense_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_defense_dps_1">Mount Defense DPS:</label>
                <select class='select-heros' name="mount_defense_dps_1" id="id_mount_defense_dps_1">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_defense_dps_2">Mount Defense DPS:</label>
                <select class='select-heros' name="mount_defense_dps_2" id="id_mount_defense_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_defense_support_1">Mount Defense Support:</label>
                <select class='select-heros' name="mount_defense_support_1" id="id_mount_defense_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_mount_defense_support_2">Mount Defense Support:</label>
                <select class='select-heros' name="mount_defense_support_2" id="id_mount_defense_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}    
                </select>
            </div>
            <div class='column'>
                <label for="id_opponent_attack_tank">Opponent Attack Tank:</label>
                <select class='select-heros' name="opponent_attack_tank" id="id_opponent_attack_tank">
                    {% for option in tanks %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_attack_dps_1">Opponent Attack DPS:</label>
                <select class='select-heros' name="opponent_attack_dps_1" id="id_opponent_attack_dps_1">
                    {% for option in dps %}
                        <option vvalue="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_attack_dps_2">Opponent Attack DPS:</label>
                <select class='select-heros' name="opponent_attack_dps_2" id="id_opponent_attack_dps_2">
                    {% for option in dps %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_attack_support_1">Opponent Attack Support:</label>
                <select class='select-heros' name="opponent_attack_support_1" id="id_opponent_attack_support_1">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="id_opponent_attack_support_2">Opponent Attack Support:</label>
                <select class='select-heros' name="opponent_attack_support_2" id="id_opponent_attack_support_2">
                    {% for option in support %}
                        <option value="{{option.hero_name}}">{{option.hero_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class='add-button' type="submit">Add Players</button>
    </form>
</body>
</html>