<!DOCTYPE html>

{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/match_inputs.css' %}"> {% endcomment %}
<script src="{% static 'js/player_input.js' %}"></script>

<script type="text/javascript">
	var rosterData = {{ rosterData|safe }};
	var tankData = {{ tankData|safe }};
	var dpsData = {{ dpsData|safe }};
	var supportData = {{ supportData|safe }};
</script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Game Player</title>
</head>

<body>
    <h1>Add Player</h1>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        {% with displayed_attack_header=False displayed_defence_header=False %}
        {% for form in formset %}
            <div class="form-group">
                {% if form.is_defense.value and not displayed_defence_header %}
                    <h4>Defence</h4>
                    {% with displayed_defence_header=True %}{% endwith %}
                {% endif %}
                
                {% if not form.is_defense.value and not displayed_attack_header %}
                    <h4>Attack</h4>
                    {% with displayed_attack_header=True %}{% endwith %}
                {% endif %}


                {{ form.is_defense.as_hidden }}

                <div>
                    <label for="{{ form.roster_id.id_for_label }}">Player Name:</label>
                    <select name="player-{{ forloop.counter0 }}-roster_id" id="{{ form.roster_id.id_for_label }}" class="roster-select">
						{% for player in roster %}
							<option value="{{ player.id }}">{{ player.first_name }} {{player.last_name}}</option>
						{% endfor %}
                    </select>
                </div>                

                <div>
                    <label for="{{ form.role.id_for_label }}">Role:</label>
                    <select name="player-{{ forloop.counter0 }}-role" id="{{ form.role.id_for_label }}" class='role-select'>
                    </select>
                </div>
                
                <div>
                    <label for="{{ form.hero.id_for_label }}">Hero:</label>
                    <select name="player-{{ forloop.counter0 }}-hero" id="{{ form.hero.id_for_label }}">
                    </select>
                </div>
                

                <div>
                    <label>{{ form.kills.label }}</label>
                    {{ form.kills }}
                </div>

                <div>
                    <label>{{ form.deaths.label }}</label>
                    {{ form.deaths }}
                </div>

                <div>
                    <label>{{ form.assists.label }}</label>
                    {{ form.assists }}
                </div>

                <div>
                    <label>{{ form.damage.label }}</label>
                    {{ form.damage }}
                </div>

                <div>
                    <label>{{ form.healing.label }}</label>
                    {{ form.healing }}
                </div>
            </div>
        {% endfor %}
        {% endwith %}
        <div>
            <!-- Conditional buttons based on game's map type -->
            {% if game.map_type == "Control" %}
                <button type="submit" name='action' value='add_control'>Add Another Control Round</button>
            {% elif game.map_type == "Flashpoint" %}
                <button type="submit" name='action' value='add_flashpoint'>Add Another Flashpoint Point</button>
            {% endif %}
        </div>

        <div style="margin-top: 20px;">
            <button type="submit">Done</button>
        </div>
    </form>
</body>
</html>
