{%load static%}
<link rel="stylesheet" href="{% static 'css/match_inputs.css' %}">
<script src="{% static 'js/match_inputs.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Game to Match</title>
</head>
<body>
    <h1>Add Game to Match</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="match_id" value="{{match.id}}">
        <label for="id_map_type">Map Type:</label>
        <select name="map_type" id="id_map_type">
            <option value="Control">Control</option>
            <option value="Push">Push</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Escort">Escort</option>
		    <option value="Flashpoint">Flashpoint</option>
        </select>
        <br>
		<label for="id_mount_score">Mount Score:</label>
		<input type="number" name="mount_score" id="id_mount_score" required>
		<br>
		<label for="id_opponent_score">Opponent Score:</label>
		<input type="number" name="opponent_score" id="id_opponent_score" required>
		<br>
		<input hidden type="checkbox" name="mount_win" id="id_mount_win">
		<br>
		<label for="id_notes">Notes:</label>
		<textarea rows='5' cols='40' name="notes" id="id_notes">
        </textarea>
        <br>
        <button class = 'add-button' type="submit">Add Game</button>
    </form>
    <a href="/Overwatch/team/{{team.id}}">Back to {{team.name}}'s Page</a>