<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Game Player</title>
    <!-- Add any additional CSS or JS here if required -->
</head>

<body>
    <h1>Add Player</h1>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="form-group">
                {% if form.is_defense.value %}
                    <h4>Defense</h4>
                {% endif %}

                <!-- Dynamically setting the map type input based on game's map type -->
                {%if game.map_type == "Hybrid" or game.map_type == "Escort"%}
                    <input type="hidden" name="player-{{forloop.counter0}}-escort_hybrid_id" value="{{ map.id }}">
                {%else%}
                    <input type="hidden" name="player-{{forloop.counter0}}-{{game.map_type|lower}}_id" value="{{ game.map_type }}">
                {%endif%}


                {{ form.is_defense.as_hidden }}

                <div>
                    <label for="{{ form.roster_id.id_for_label }}">Player Name:</label>
                    <select name="player-{{ forloop.counter0 }}-roster_id" id="{{ form.roster_id.id_for_label }}">
                        {% for option in roster %}
                            <option value="{{ option.id }}" {% if option.id == form.roster_id.value %}selected{% endif %}>{{ option.first_name }} {{ option.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>                

                <div>
                    <label for="{{ form.role.id_for_label }}">Role:</label>
                    <select name="player-{{ forloop.counter0 }}-role" id="{{ form.role.id_for_label }}">
                        <option value="Tank" {% if form.role.value == "Tank" %}selected{% endif %}>Tank</option>
                        <option value="DPS" {% if form.role.value == "DPS" %}selected{% endif %}>DPS</option>
                        <option value="Support" {% if form.role.value == "Support" %}selected{% endif %}>Support</option>
                    </select>
                </div>
                
                <div>
                    <label for="{{ form.hero.id_for_label }}">Hero:</label>
                    <select name="player-{{ forloop.counter0 }}-hero" id="{{ form.hero.id_for_label }}">
                        {% for option in heroes %}
                            <option value="{{ option }}" {% if option == form.hero.value %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                

                <div>
                    <label>{{ form.kills.label }}</label>
                    {{ form.kills }}
                </div>

                <div>
                    <label>{{ form.deaths.label }}</label>
                    {{ form.deaths }}
                </div>

                <div>
                    <label>{{ form.assists.label }}</label>
                    {{ form.assists }}
                </div>

                <div>
                    <label>{{ form.damage.label }}</label>
                    {{ form.damage }}
                </div>

                <div>
                    <label>{{ form.healing.label }}</label>
                    {{ form.healing }}
                </div>
            </div>
        {% endfor %}

        <div>
            <!-- Conditional buttons based on game's map type -->
            {% if game.map_type == "Control" %}
                <button type="submit" name='action' value='add_control'>Add Another Control Round</button>
            {% elif game.map_type == "Flashpoint" %}
                <button type="submit" name='action' value='add_flashpoint'>Add Another Flashpoint Point</button>
            {% endif %}
        </div>

        <div style="margin-top: 20px;">
            <button type="submit">Done</button>
        </div>
    </form>
</body>
</html>
